@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #141315;
  }
  
  main {
    flex-grow: 1;
  }
  