/* src/styles/Reviews.css */
.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000;
    color: #fff;
    padding: 2rem;
  }
  
  .review-card {
    max-width: 800px;
    border: 1px solid #333;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: #222;
  }
  
  .review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .review-header h3 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .rating {
    font-size: 1.5rem;
    color: #ff0;
  }
  
  .review-text {
    white-space: pre-wrap; /* Сохранение переносов и пробелов в тексте */
  }
  