{% extends "base.html" %}

{% block title %}Панель инженера{% endblock %}

{% block content %}
<div class="container">
    <h1>Панель инженера</h1>
    <p>Добро пожаловать, {{ user.fname }}! Вот ваши текущие задачи:</p>

    <div class="row">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 27rem;">
                <div class="card-header">Заказы</div>
                <div class="card-body">
                    <h5 class="card-title">Заказы на ремонт</h5>
                    <p class="card-text">Управление заказами на ремонт</p>
                    <a href="{{ url_for('main.orders') }}" class="btn btn-light">Посмотреть заказы</a>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="card text-white bg-success mb-3" style="max-width: 27rem;">
                <div class="card-header">Сборки</div>
                <div class="card-body">
                    <h5 class="card-title">Сборки компьютеров</h5>
                    <p class="card-text">Управление заказами на сборку</p>
                    <a href="{{ url_for('main.builds') }}" class="btn btn-light">Посмотреть сборки</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
