{% extends "base.html" %}

{% block title %}Панель приемщика{% endblock %}

{% block content %}
<div class="container">
    <h1>Панель приемщика</h1>
    <p>Добро пожаловать, {{ user.name }}! Вы можете управлять заказами и сборками ниже:</p>

    <!-- Кнопка для открытия модального окна создания нового заказа на ремонт -->
    <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#createOrderModal">
        Создать новый заказ на ремонт
    </button>

    <!-- Модальное окно для создания нового заказа на ремонт -->
    <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createOrderModalLabel">Новый заказ на ремонт</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{{ url_for('main.create_order') }}">
              <input type="text" name="client_name" placeholder="Имя клиента" required class="form-control mb-2">
              <input type="text" name="client_phone" placeholder="Телефон клиента" required class="form-control mb-2">
              <input type="text" name="type" placeholder="Тип устройства" required class="form-control mb-2">
              <input type="text" name="model" placeholder="Модель" required class="form-control mb-2">
              <input type="text" name="serial_number" placeholder="Серийный номер" required class="form-control mb-2">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Создать заказ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <h2>Все заказы на ремонт</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Тип устройства</th>
                <th>Модель</th>
                <th>Имя клиента</th>
                <th>Номер телефона клиента</th>
                <th>Статус</th>
                <th>Назначенный мастер</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.order_id }}</td>
                <td>{{ order.device.type }}</td>
                <td>{{ order.device.model }}</td>
                <td>{{ order.client.name }}</td>
                <td>{{ order.client.contact_info }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.engineer.name }}</td>
                <td>
                    <a href="{{ url_for('main.update_order_status', order_id=order.order_id) }}" class="btn btn-sm btn-primary">Изменить статус</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="8">Заказов на ремонт не найдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Все заказы на сборку компьютера</h2>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>Имя клиента</th>
                <th>Номер телефона клиента</th>
                <th>Комплектующие</th>
                <th>Статус заказа</th>
                <th>Назначенный инженер</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for build in builds %}
            <tr>
                <td>{{ build.build_id }}</td>
                <td>{{ build.client.name | safe}}</td>
                <td>{{ build.client.contact_info | safe }}</td>
                <td>{{ build.components | safe}}</td>
                <td>{{ build.status }}</td>
                <td>{{ build.engineer.name }}</td>
                <td>
                    <a href="{{ url_for('main.update_build_status', build_id=build.build_id) }}" class="btn btn-sm btn-primary">Изменить статус</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="6">Сборок не найдено.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
{% endblock %}
