{% extends "base.html" %}

{% block title %}Панель приемщика{% endblock %}

{% block content %}
<div class="container">
    <h1>Панель приемщика</h1>
    <p>Добро пожаловать, {{ user.fname }}! Вы можете управлять заказами и сборками ниже:</p>

    <!-- Кнопка для открытия модального окна создания нового заказа на ремонт -->
    <div class="d-flex justify-content-start mb-3">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createOrderModal">
            Создать новый заказ на ремонт
        </button>
        <button type="button" class="btn btn-success ml-2" data-toggle="modal" data-target="#createBuildOrderModal">
          Создать новый заказ на сборку
      </button>
    </div>

    <!-- Модальное окно для создания нового заказа на ремонт -->
    <div class="modal fade" id="createOrderModal" tabindex="-1" role="dialog" aria-labelledby="createOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createOrderModalLabel">Новый заказ на ремонт</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{{ url_for('main.create_order') }}">
              <input type="text" name="client_name" placeholder="Имя клиента" required class="form-control mb-2">
              <input type="text" name="client_phone" placeholder="Телефон клиента" required class="form-control mb-2">
              <input type="text" name="type" placeholder="Тип устройства" required class="form-control mb-2">
              <input type="text" name="model" placeholder="Модель" required class="form-control mb-2">
              <input type="text" name="serial_number" placeholder="Серийный номер" required class="form-control mb-2">
              <input type="text" name="defect" placeholder="Дефект" required class="form-control mb-2">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Создать заказ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

     <!-- Модальное окно для создания нового заказа на сборку системного блока -->
    <div class="modal fade" id="createBuildOrderModal" tabindex="-1" role="dialog" aria-labelledby="createBuildOrderModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="createBuildOrderModalLabel">Новый заказ на сборку</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" action="{{ url_for('main.create_build') }}">
              <input type="text" name="client_name" placeholder="Имя клиента" required class="form-control mb-2">
              <input type="text" name="client_phone" placeholder="Телефон клиента" required class="form-control mb-2">
              <input type="number" step="1000" name="components_cost" placeholder="Бюджет на сборку" required class="form-control mb-2">
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-success">Создать заказ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center flex-wrap">
      <div class="card text-white bg-warning m-2" style="width: 40rem; display: flex; flex-direction: column; justify-content: space-between;">
        <div class="card-header">Заявки на обратный звонок</div>
        <div class="card-body">
            <h5 class="card-title">Заявки на обратный звонок по вопросам ремонта или сборок компьютеров</h5>
            <p class="card-text">Доступ к заявкам на обратный звонок</p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('main.callback_orders') }}" class="btn btn-light">Посмотреть архив</a>
        </div>
      </div>
      <div class="card text-white bg-primary m-2" style="width: 40rem; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="card-header">Заказы</div>
          <div class="card-body">
              <h5 class="card-title">Заказы на ремонт</h5>
              <p class="card-text">Управление заказами на ремонт</p>
          </div>
          <div class="card-footer">
              <a href="{{ url_for('main.orders') }}" class="btn btn-light">Посмотреть заказы</a>
          </div>
      </div>
      <div class="card text-white bg-success m-2" style="width: 40rem; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="card-header">Сборки</div>
          <div class="card-body">
              <h5 class="card-title">Сборки компьютеров</h5>
              <p class="card-text">Управление заказами на сборку</p>
          </div>
          <div class="card-footer">
              <a href="{{ url_for('main.builds') }}" class="btn btn-light">Посмотреть сборки</a>
          </div>
      </div>
      <div class="card text-white bg-info m-2" style="width: 40rem; display: flex; flex-direction: column; justify-content: space-between;">
          <div class="card-header">Архив</div>
          <div class="card-body">
              <h5 class="card-title">Архив заказов и сборок</h5>
              <p class="card-text">Доступ к архиву заказов на ремонт и сборку системного блока</p>
          </div>
          <div class="card-footer">
              <a href="{{ url_for('main.archive') }}" class="btn btn-light">Посмотреть архив</a>
          </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
{% endblock %}