{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mt-5">Войдите в систему</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="alert alert-warning">
              {% for message in messages %}
                {{ message }}
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
                {% if form.username.errors %}
                    {% for error in form.username.errors %}
                        <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="invalid-feedback" style="display:block;">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}
