{% extends "base.html" %}

{% block title %}Список заказов на ремонт{% endblock %}

{% block content %}
<div class="mt-4 mb-4">
    <h1>Список заказов на ремонт</h1>
    <p>Текущие заказы на ремонт</p>
</div>

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя клиента</th>
            <th scope="col">Номер телефона клиента</th>
            <th scope="col">Тип устройства</th>
            <th scope="col">Модель</th>
            <th scope="col">Дефект</th>
            <th scope="col">Статус заказа</th>
            <th scope="col">Назначенный мастер</th>
            <th scope="col">Дата создания заказа</th>
            <th scope="col">Цена</th>
            <th scope="col">Изменение статуса</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
        <tr>
            <td scope="row">{{ order.order_id }}</td>
            <td>{{ order.client.name | safe }}</td>
            <td>{{ order.client.phone_number | safe }}</td>
            <td>{{ order.device.type }}</td>
            <td>{{ order.device.model }}</td>
            <td>{{ order.defect }}</td>
            <td>{{ order.status }}</td>
            <td>{{ order.engineer.lname }} {{ order.engineer.fname }} {{ order.engineer.mname }}</td>
            <td>{{ order.creation_date }}</td>
            <td>
                <form action="{{ url_for('main.update_order_cost', order_id=order.order_id) }}" method="post" class="form-inline">
                    <input type="number" step="0.01" name="cost" value="{{ order.cost }}" class="form-control form-control-sm" style="width: 80px;">
                    <button type="submit" class="btn btn-sm btn-primary">Обновить</button>
                </form>
            </td>
            <td>
                <a href="{{ url_for('main.update_order_status', order_id=order.order_id) }}" class="btn btn-sm btn-primary">Изменить статус</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="11">Заказов на ремонт не найдено.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
